DATABASE_URL=
DIRECT_URL=
INVITATION_CREATOR_SECRET=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STORAGE_BUCKET=wedding-media
GOOGLE_SHEETS_WEB_APP_URL=https://script.google.com/macros/s/AKfycbwAG5Yd7tY04ZHORp46EpU6AeRIlWv_DeeqO2NYvSH-gfi1fNQ-sA00lym7sXMYLX9r7g/exec
GOOGLE_SHEETS_SYNC_SECRET=
